* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
form {
  border-radius: 8px;
}

textarea {
  border: none;
  width: 100%;
  line-break: anywhere;
  padding: 10px;
  border-radius: inherit;
  resize: none;
}

.postnote {
  width: 50%;
  margin: auto;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 5px 2px #888888;
}
.postnote form {
  display: flex;
  flex-direction: column;
}
textarea:focus {
  outline: none;
}

.allNotes {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 25px;
}

.editModal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  z-index: 5;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.btn {
  width: 70px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.display-card {
  width: 224px;
  min-height: 152px;
}
.displayNote {
  position: relative;
  border: 1px solid #888888;
  border-radius: 8px;
  margin: 5px;
  width: 290px;

  padding: 5px;
  word-wrap: break-word;
}
.displayNote:hover {
  box-shadow: 0 0 3px 0.5px #888888;
  transition: 0.3s;
  cursor: default;
}
.displayNote:hover > .icons {
  display: block;
}

/* .fa-thumb-tack,
.fa-trash { */
.icons {
  position: absolute;
  display: none;
  top: 5px;
  right: 5px;

  z-index: 1;
}
.fa-thumb-tack {
  font-size: 20px;
  padding: 6px 10px;
  background-color: inherit;
}

.fa-trash {
  font-size: 22px;
  padding: 5px 7px;
  color: rgb(249, 108, 108);
  background-color: inherit;
}

.fa-thumb-tack:hover,
.fa-trash:hover {
  background-color: #dcd8d8;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

@media screen and (max-width: 760px) {
  .postnote {
    width: 90%;
    margin-bottom: 10px;
  }
  .allNotes {
    align-items: center;
    justify-content: center;
    padding: 2px;
  }
  .displayNote {
    width: 90%;
  }
  .editModal {
    width: 90%;
  }
}

@media screen and (width: 768px) {
  .postnote {
    width: 60%;
    margin-bottom: 10px;
  }
  .displayNote {
    width: 330px;
  }
  .editModal {
    width: 70%;
  }
}
